.header {
    grid-area: h;
    background-color: antiquewhite;
    border-radius: 20px;
    margin: 5px;
}
.header img {
    width: 50px;
    height: 40px;
    border-radius: 20px;
    margin: 5px;
}
