.nav {
    background-color: cornflowerblue;
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
}

.item {
    color: black;
    text-decoration: none;
}

.active {
    color: greenyellow;
    text-decoration: none;
}

.friends {
    color:red;
    margin-top: 50px;
    text-align: center;
}