.Dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding:10px;
    display: grid;
}

.messageItem {
    display: grid;
    align-items: center;

}
.dialogsItem img{
    width: 70px;
    height: 70px;
    border-radius: 30px;
}


